* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
}
html body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #e4eefa;
}

.message {
  font-weight: 600;
  font-size: 0.9em;
  color: #E24032;
  margin-left: 4px;
}

@media (min-width: 700px) {
  .container {
    width: 100%;
    height: 100%;
  }
  .container .logo {
    position: absolute;
    right: 5%;
  }
  .container .signup-form {
    position: relative;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 600px;
    max-width: 600px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #fff;
    padding: 2% 4%;
    border: none;
    border-radius: 12px;
    margin-bottom: 15px;
  }
  .container .signup-form .heading {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
  }
  .container .signup-form .heading h1 {
    font-size: 3.2em;
    font-weight: bold;
  }
  .container .signup-form .heading p {
    font-size: 0.9em;
    color: #707070;
  }
  .container .signup-form .col {
    margin-bottom: 15px;
  }
  .container .signup-form .col input {
    height: 50px;
  }
  .container .signup-form .row {
    display: flex;
    flex-direction: row;
  }
  .container .signup-form .row .icon {
    width: 45px;
    display: inline-block;
  }
  .container .signup-form .row p {
    text-align: left;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1em;
    font-weight: 500;
    float: right;
  }
  .container .signup-form .btn {
    width: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
    font-weight: 600;
    font-size: 1.2em;
  }
}
@media (max-width: 700px) {
  .container {
    width: 100%;
    height: 100%;
  }
  .container .logo {
    position: absolute;
    right: 5%;
  }
  .container .signup-form {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 99.5%;
    max-width: 99.5%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: white;
    padding: 2% 4%;
    border: none;
    border-radius: 12px;
    margin-bottom: 15px;
  }
  .container .signup-form .heading {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
  }
  .container .signup-form .heading h1 {
    font-size: 3.2em;
    font-weight: bold;
  }
  .container .signup-form .heading p {
    font-size: 0.9em;
    color: #707070;
  }
  .container .signup-form .col {
    margin-bottom: 15px;
  }
  .container .signup-form .col input {
    height: 50px;
  }
  .container .signup-form .row {
    display: flex;
    flex-direction: row;
  }
  .container .signup-form .row .icon {
    width: 45px;
    display: inline-block;
  }
  .container .signup-form .row p {
    text-align: left;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1em;
    font-weight: 500;
    float: right;
  }
  .container .signup-form .btn {
    width: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
    font-weight: 600;
    font-size: 1.2em;
  }
}/*# sourceMappingURL=userlogin.css.map */