<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="/static/css/userlogin.css">

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <!-- jquery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			crossorigin="anonymous">
    </script>

    <title>Python Messenger</title>
</head>
<body style="width: 100%;">

    <div class="container">

        <form class="signup-form" method='POST' action=''>

            <img class="logo" src="/static/assets/Chat.svg" alt="" class="chat-logo">

            {% csrf_token %}

            <div class="heading">
                <h1>Sign in</h1>
                <p class="txt">Welcome back! Please enter your details</p>
            </div>

            <div class="col">
                <input type="text" class="form-control" placeholder="email id or username" name='user_input' aria-label="email" required>
            </div>

            <div class="col" style="margin-top: 25px;">
                <input type="password" class="form-control" placeholder="password" name='password' aria-label="email" required>
            </div>

            <p class="message">{{message}}</p>

            <div class="row" style="margin-top: 50px;">
                <p class="col">
                    Don't have an account? <a href={% url 'userauthentication:signup' %} style="font-weight: 600;">Sign up</a>
                </p>

                <a href="" class="col forgot-pass" style="text-align: right; text-decoration: none; font-weight: 600;">Forgot password</a>
            </div>

            <button class="btn btn-primary" id="submit-btn" type="submit">Sign in</button>
        </form> 
    </div>

</body>
</html>