<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="/static/css/homepage.css">

    <!-- jquery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			crossorigin="anonymous">
    </script>

    <title>Python Messenger</title>
</head>
<body>
    
    <div class="container" style="max-width: 100%; padding: 0;">

        <nav class="navbar">
            <ul>
                <div class="notification-section">
                    <img src="/static/assets/notification.svg" alt="" class="icon">
                    <div class="badge">
                        <div class="notify-count">2</div>
                    </div>
                </div>
            </ul>
            <button class="logout-btn" onclick="logout()">Logout</button>
        </nav>

        <div class="main-section">
            <button class="btn btn-primary" onclick="showForm(this)">Create room</button>
            <button class="btn btn-primary" onclick="showForm(this)">Join room</button>

            <form class="room-creation-form" method="POST" action="">
                {% csrf_token %}
                <label for="room-name" class="room-name-label">Room name</label> <br>
                <input type="text" name="room-name" class="room-name-input" autocomplete='off' required>
                <br>
                <label for="password" class="password-label">Password</label> <br>
                <input type="password" name="password" class="password-input" required>
                <br>
                <input type="hidden" name="type" value="c">

                <button class="btn create-room-btn" type="submit" value="submit">Create room</button>
                <button class="btn close" onclick="closeForm(this)">Close</button>
            </form>

            <form class="room-join-form" method="POST" action="">
                {% csrf_token %}
                <label for="room-name" class="room-name-label">Room name</label> <br>
                <input type="text" name="room-name" class="room-name-input" autocomplete='off'  required>
                <br>
                <label for="password" class="password-label">Password</label> <br>
                <input type="password" name="password" class="password-input" required>
                <br>
                <input type="hidden" name="type" value="j">

                <button class="btn create-room-btn" type="submit" value="submit">Join room</button>
                <button class="btn close" onclick="closeForm(this)">Close</button>
            </form>
        </div>

        <p class="message">{{message}}</p>
    </div>

    <script type="text/javascript">

        function showForm(e) {
            
            if (e.textContent === 'Create room') {
                $('.room-creation-form').css('display', 'block');
                $('.room-join-form').css('display', 'none');
            } else {
                $('.room-join-form').css('display', 'block');
                $('.room-creation-form').css('display', 'none');
            }
        }

        function closeForm(e) {

            if (e.parentNode.className === 'room-creation-form') {
                $('.room-creation-form').css('display', 'none');
            } else {
                $('.room-join-form').css('display', 'none');
            }
        }

        function logout() {
            window.location.href = '{% url "userauthentication:logout" %}'
        }

    </script>
</body>
</html>