<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css file -->
    <link rel="stylesheet" href="/static/css/roomlogin.css">

    <title>Python Messenger</title>
</head>
<body>

    <div class="container">
        <div class="login-section">
            <p class="heading">Chat Room Login</p>

            <form method='POST' action='' class="room-login">
                {% csrf_token %}
                <div class="name-section">
                    <label class="name-label" for="username">Username</label>
                    <input type="text" class="name" name="username" placeholder="username" required>
                </div>
                <br>

                <div class="id-section">
                    <label for="room-id" class="room-id-label">Room ID</label>
                    <input type="text" class="room-id" id="room-id" name="room-id" placeholder="room id" required>
                </div>
                
                <div class="form-btns">
                    <button class="btn" type="submit" value="submit" onsubmit="submitForm()">Submit</button>
                    <button class="btn">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>